<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for实例</title>
    <script src="../assets/js/vue.js"></script>
</head>

<body>
    <h1>v-for实例</h1>
    <hr>
    <div id="app">
        <ul>
            <li v-for="item in sortItems">
                {{item}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(student,index) in sortStudents">
                {{index}}：{{student.name}} - {{student.age}}
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items: [100, 23, 43, 44, 56, 35],
                students: [{
                        name: 'Pony',
                        age: 25
                    },
                    {
                        name: 'Panda',
                        age: 28
                    },
                    {
                        name: 'Mimi',
                        age: 12
                    }
                ]
            },
            // 在页面输出之前进行的计算属性
            computed: {
                sortItems: function () {
                    return this.items.sort(sortNum);
                },
                sortStudents:function(){
                    return sortByKey(this.students,'age');
                }
            }
        });

        function sortNum(a, b) {
            return a - b;
        }
        //数组对象方法排序:
        function sortByKey(array, key) {
            return array.sort(function (a, b) {
                var x = a[key];
                var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
            });
        }
    </script>
</body>

</html>