.kpmg-card-container
  padding 8px
  border 2px solid #cccccc
  background-color #fff
  border-radius 2px
  cursor pointer
  margin-bottom 10px

.kpmg-card-header
  padding-bottom 5px
  margin-bottom 10px
  border-bottom 0.5px solid #ccc
  display flex

  .card-header-title
    width 98%
    height 40px
    display flex
    margin-left 1px

    span
      font-size 16px
      line-height 40px
      margin-left 10px

.kdc-icon-selected
  position relative
  width 30px

.kdc-selected-img
  border-width 0
  position absolute
  right -8px
  top -8px
  width 35px
  height 35px
  transform rotate(180deg)
  background-color transparent

.kdc-selected-x
  border-width 0
  position absolute
  right -11px
  top -2px
  width 18px
  height 6px
  transform rotate(315deg)

.kdc-selected-y
  border-width 0
  position absolute
  right 1px
  top 2px
  width 10px
  height 6px
  transform rotate(45deg)

.kdc-cards-selected
  border 2px solid #289ED9 !important

.kdc-cards-submited
  border 2px solid #CCCCCC !important

.oppo-radio-wrap
  background-color #DFDFDF !important
  padding 2px
  border-radius 3px

.oppo-radio-set
  background-color #DFDFDF
  border-color #DFDFDF
