@import './varibles.styl'

.kpmg-button-blue
  background-color $kpmgBlue !important
  color white !important
  border 1px solid $kpmgBlue !important

.kpmg-button-blue:focus
  box-shadow unset !important
  border 1px solid $kpmgBlue !important
  background-color $kpmgBlue !important

.kpmg-button-blue:hover
  box-shadow unset !important
  border 1px solid $kpmgBlue !important
  background-color $kpmgBlue !important

.kpmg-button-white
  background-color $kpmgWhite
  border 1px solid $kpmgGray !important

.kpmg-button-white:focus
  box-shadow unset !important
  border 1px solid $kpmgGray !important
  background-color $kpmgWhite !important

.kpmg-button-white:hover
  box-shadow unset !important
  border 1px solid $kpmgGray !important
  background-color $kpmgWhite !important

.kpmg-radio-switch
  background-color $kpmgBlue !important
  color white !important
  box-shadow unset !important
  border-color $kpmgBlue !important

.kpmg-radio-switch:after
  height 0 !important

.kdc-radio-wrap
  background-color $kpmgRadioGray
  padding 2px
  border-radius 3px
