// reset
ul, li
  list-style none
  // padding 0
  // margin 0

// margin
.ml10
  margin-left 10px

.ml20
  margin-left 20px

.mr10
  margin-right 10px

.mr20
  margin-right 20px

// float
.fll
  float left

.flr
  float right

// color
.dark-red
  color $redDark

.kpmg-blue
  color $kpmgBlue

.kpmg-blue-light
  color $kpmgBlueLight

.kpmg-blue-dark
  color $kpmgBlueDark

// clearfix
.clearfix:after
  visibility hidden
  display block
  font-size 0
  content ' '
  clear both
  height 0

.go-back-history-btn
  color #337ab7
  border 0 !important

.go-back-history-btn:hover
  color #337ab7
  border 0 !important

.go-back-history-btn:focus
  border 0 !important
  box-shadow unset !important

// action style
.action-edit
  color $kpmgBlue
  cursor pointer

.action-del
  color $redDark
  cursor pointer

.action-disabled
  color $gray