$kpmgWhite = #ffffff
$kpmgBlack = #000000
$kpmgGray = #DCDCDC
$fontSize = 10px
$kpmgRadioGray = #F2F2F2
$kpmg-ccc-gray = #CCCCCC
// KPMG 3 kinds of blue
$kpmgBlueLight = #0091da
$kpmgBlue = #005eb8
$kpmgBlueDark = #003399
$purple = #6d2077
$redDark = #c30
$gray = #999

$kpmgBlueBg = #DFECF5